body {
  display: flex;
  margin: auto;
}

#footer {
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 450px;
}

#header {
  background: black;
  width: 100%;
  display: flex;
  justify-content: center;
}

#left {
  background: no-repeat url(fern-photo.jpg);
  background-size: cover;
  color: white;
  height: 100vh;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#right {
width: 65%;
}

#shaded-bar {
  display: flex;
  height: 100px;
}
