body {
  display: flex;
  margin: auto;
}

#left {
  background: no-repeat url(fern-photo.jpg);
  background-size: cover;
  color: white;
  height: 100vh;
  width: 35%;
}

#right {
width: 65%;
}

#shaded-bar {
  display: flex;
}
