@font-face {
  font-family: "Norse-Bold";
  src: url(Norse-Bold.otf);
}

body {
  display: flex;
  margin: auto;
  background: black;
}

.info {
  margin: 0px;
  font-weight: 700;
  font-size: 20px;
}

#acct-button {
  background: #596D48;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  margin: 30px 0px;
  height: 40px;
  width: 200px;
  padding: 10px 25px;
}

#acct-info {
  font-size: 14px;
}

#do-this {
  margin: 20px 0px;
}

#footer {
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 450px;
}

#header {
  background: rgba(0, 0, 0, 0.5);
  font-family: "Norse-Bold";
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

#img-odin {
  height: 100px;
}

#input-form {
  font-size: 12px;
  color: gray;
}

#left {
  background: no-repeat url(fern-photo.jpg);
  background-size: cover;
  color: white;
  height: 100vh;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#login {
  text-decoration: none;
  color: #596D48;
  font-weight: 700;
}

#not-real {
  margin: 0px;
}

#odin-text {
  height: 100px;
  display: flex;
  align-items: flex-end;
}

#right {
  width: 65%;
  margin: 0px auto;
  font-family: 'Helvetica', sans-serif;
  display: flex;
  flex-direction: column;
}

#right-top {
  background: rgba(249, 250, 251, 1);
  padding: 0px 150px 0px 50px;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#right-middle {
  background: white;
  padding: 0px 150px 0px 50px;
  height: 30%;
}

#right-bottom {
  background: rgba(249, 250, 251, 1);
  padding: 0px 150px 0px 50px;
  height: 33%;
  display: flex;
  flex-direction: column;
}

#shaded-bar {
  display: flex;
  height: 100px;
  align-items: center;
  font-size: 50px;
}

#want-to {
  margin: 20px 0px 50px 0px;
}